
@import "tailwindcss";


.input-field {
    width: 50px;
    height: 50px;
    border:1px solid gray;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
    outline: none;
    transition: all 0.3s ease;
    
}